.paginationList {
  width: 400px;
  height: 40px;
}

.paginationList span {
  cursor: pointer;
  padding-right: 5px;
}

.paginationList span:hover {
  font-weight: bold;
  font-size: 1.5em;
}

.paginationList_item {
  font-size: 0.8em;
  min-width: 10px;
}

.selectedPage {
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  padding-right: 5px;
}
