.user__wrapper {
  display: flex;
  justify-content: space-between;
}

.user__about {
  display: flex;
  flex-direction: column;
}

.user__img {
  display: block;
  width: 60px;
  height: 60px;
  background-color: grey;
}
