.loginPage {
  margin: 0 auto;
  text-align: center
}
.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 50%;
  margin: 10px auto;
}

.form__button {
  width: 30%;
  margin: 0 auto;
}
.form__checkbox {
  margin: 0 auto 0 0;
}