.app-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100vw;
  margin: 0 auto;
  padding: 0 40px;
}

.app-wrapper-content {
  grid-column-start: 2;
  grid-column-end: 4;
}